.testimonial {
  background: var(--bg-secondary);
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
}

.testimonial:before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 2rem;
  font-size: 5rem;
  color: var(--primary-200);
  line-height: 1;
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.testimonial-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-200);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-700);
  font-weight: bold;
}